<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WpfApplication2.Properties.Settings.Zalora_AppConnectionString" connectionString="Data Source=.\SQL2008;Initial Catalog=Zalora_App;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Zalora_AppEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQL2008;Initial Catalog=Zalora_App;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>